<a href="https://colab.research.google.com/github/nibaskumar93n-debug/Morphoinformatics/blob/main/Home_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Home_work**

## **2.1**

In [ ]:
name = "Nibas Kumar Pal"
age = 25
fav_color = "Blue"
print("My name is", name)
print("I am", age,"years old")
print("My favourite color is",fav_color)

My name is Nibas Kumar Pal
I am 25 years old
My favourite color is Blue

## **2.2**

In [ ]:
Home_town = 'Rajshahi'
age = 25
price = 99.99
not_know_python = True
know_python = False
result = None
print(type(Home_town))
print(type(age))
print(type(price))
print(type(not_know_python))
print(type(know_python))
print(type(result))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

## **2.3**

In [ ]:
# Area and perimeter of a rectangle..
length_a=7
width_b=5
area= length_a* width_b
perimeter= 2*(length_a + width_b)
print(" The area is:", area, "and the perimeter is:",perimeter)

 The area is: 35 and the perimeter is: 24

## **2.4**

In [ ]:
# Creating a list
foods = ["paratha", "kachchi biryani", "morog polao", "bhuna khichuri","daal"]
# Accessing elements (indexing starts at 0)
print(foods[0])
print(foods[4])
# Negative indexing (counts from the end)
print(foods[-2])
# Slicing lists
print(foods[2:4])
# Changing an element
foods[1] = "Grilled Chicken"
print(foods)

paratha
daal
bhuna khichuri
['morog polao', 'bhuna khichuri']
['paratha', 'Grilled Chicken', 'morog polao', 'bhuna khichuri', 'daal']

## **2.5**

In [ ]:
num_list= ["1","2","3","4","5"]
# adding
num_list.append("6") # add to end
print(num_list)
# removing
num_list.remove("3") # remove by value
print(num_list)
popped=num_list.pop() # remove and return the last item
print(popped)
print(num_list)
# sorting
num_list.sort()
print(num_list)
num_list.reverse()
print(num_list)

['1', '2', '3', '4', '5', '6']
['1', '2', '4', '5', '6']
6
['1', '2', '4', '5']
['1', '2', '4', '5']
['5', '4', '2', '1']

## **2.6**

In [ ]:
# Creating a dictionary
nibas_kumar = {
"name": "nibas",
"age": 25,
"university": "RU",
"courses": ["Python", "R", "Bioinformatics","Data science"]}
# Accessing values using keys
print(nibas_kumar["name"])
print(nibas_kumar["courses"][2])
print(nibas_kumar["university"])
print(nibas_kumar["age"])
# Adding or modifying items is possible..
nibas_kumar["phone"]= "01744561811"
nibas_kumar["age"] = 22
print(nibas_kumar)

nibas
Bioinformatics
RU
25
{'name': 'nibas', 'age': 22, 'university': 'RU', 'courses': ['Python', 'R', 'Bioinformatics', 'Data science'], 'phone': '01744561811'}

## 2.7

In [ ]:
# latitude and longitude of Pabna, Rajshahi, Bangladesh
lat_lon=(24.006355, 89.249298)
print(lat_lon)
# acessing element
print(lat_lon[1])
# attempting change will cause error
lat_lon[0]=28
print(lat_lon)

(24.006355, 89.249298)
42
89.249298

TypeError: 'tuple' object does not support item assignment

## **2.8**

In [ ]:
# Set operations
col_set1 = {"red", "green", "yellow"}
col_set2 = {"purple", "magenta", "cyan","red"}
# union
all_cols=col_set1|col_set2
print(all_cols)
# intersection
common_ele= col_set1 & col_set2
print(common_ele)
####
col_set1.add("black")
print(col_set1)
col_set1.discard("banana")
col_set1.update(["grey","navy"])
col_set1.update(("pink","tomatored"),("redish","silver"),{"gold","copper"})
print(col_set1)

{'red', 'magenta', 'yellow', 'purple', 'green', 'cyan'}
{'red'}
{'black', 'green', 'red', 'yellow'}
{'tomatored', 'grey', 'red', 'green', 'navy', 'gold', 'black', 'pink', 'redish', 'yellow', 'copper', 'silver'}

## **2.9**

In [ ]:
# if-elif-else
num = 98

if num > 0:
    print("The number is positive")
elif num < 0:
    print("The number is negative")
else:
    print("The number is zero")

The number is positive

## **2.10**

In [ ]:
# Discount check
age = int(input("Enter your age: "))
student_input = input("Are you a student? (yes/no): ")

is_student = (student_input == "yes")


if(is_student and age<25) or (age>60):
  print("Eligible for discount")
else:
  print("Not eligible for discount")

Enter your age: 61
Are you a student? (yes/no): yes
Eligible for discount

## **2.11**

In [ ]:
for i in range(1,11):
  print(i*2)

# using while loop
count=1
even=2
while count <11:
  print(even,end="")
  even +=2
  count +=1

2
4
6
8
10
12
14
16
18
20
2468101214161820

## **2.12**

In [ ]:
# Pyramid

rows = 5

for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

# Number pyramid

rows = 5

for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end="")
    for k in range(1, i + 1):
        print(k, end=" ")

    print()

    *
   ***
  *****
 *******
*********
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

## **2.13**

In [ ]:
def cel_faren(cel_temp):
  F= (cel_temp*(9/5))+32
  return(F)
Farenhit=cel_faren(80)
print(Farenhit)

176.0

## **2.14**

In [ ]:
def rectangle_area(length=5, width=3):
    area=length*width
    return area
print(rectangle_area())
print(rectangle_area(23,5))

15
115